/* .moimMainTitle {
    text-align: center;
    color: rgb(239, 136, 136);
    font-size: 30px;
    font-family: Ribeye;
    font-weight: bold;
} */

.container {
width: 100%;
padding: 20px;
box-sizing: border-box;
}

.header {
text-align: left;
display: flex;
margin-top: 10px;
margin-bottom: 5px;
color: black;
}

.header h1 {
font-size: 25px;
font-weight: 700;
}

.header p {
font-size: 15x;
font-weight: bold;
align-self: end;
margin-bottom: 5px;
padding-left: 5px;
}

.content {
display: flex;
flex-direction: column;
}

.buttons {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.secondary {
width: 70px;
height: 23px;
align-items: center;
}
/* --------------------------- */

.moimHighlight {
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.moimHighlightImgDivImg {
    width: 90%;
    object-fit: cover;
    border-radius: 5%;
    border: 1px solid pink;
}

.highlightShortDetail {
    position: absolute;
    font-weight: 400;
    color: white;
    padding: 10px;
    width: 80%;
    text-align: center;
    overflow-wrap: break-word;
    top: 70%;
    transform: translateY(-60%);

    word-wrap: break-word;
    flex-direction: column;
}







