.loginForm {
  width: 100%;
}
.joinAuthForm {
  width: 350px;
}

.loginFormElementDiv {
  width: 340px;
  height: 60px;
}

.kakaoDiv {
  background-color: #ffeb00;
  cursor: pointer;
}
.googleDiv {
  background-color: rgb(227, 227, 227);
  cursor: pointer;
}
.naverDiv {
  background-color: rgb(54, 149, 54);
  cursor: pointer;
}
.logoTextDiv {
  cursor: pointer;
}

.inputStyle {
  height: 100%;
}

.loginBtn {
  background-color: #f56084;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.loginBtn:hover {
  background-color: #fe7394;
}

.disabledBtn {
  background-color: gray;
  cursor: pointer;
}

.loginBtnSpan {
  color: white;
  font-size: 20px;
}

.PwdFindAndJoinSpan {
  cursor: pointer;
  font-size: 15px;
  color: black;
}

.JoinAuthFont1 {
  font-size: 25px;
  font-weight: 700;
  color: black;
}
.JoinAuthFont2 {
  font-size: 15px;

  color: rgb(144, 144, 144);
}
.JoinAuthFont3 {
  font-size: 15px;

  color: black;
}

.phoneStyle {
  width: 100%;
}

.customInput::placeholder {
  /* Placeholder 스타일 */
  font-size: 12px; /* 원하는 폰트 크기로 조절 */
}

.customInput input {
  /* 입력값 스타일 */
  font-size: 12px; /* 원하는 폰트 크기로 조절 */
}

.linkNoneStyle {
  text-decoration: none;
  color: black;
}
