.mainIconImgText {
  font-size: 1.6rem;
  color: rgb(88, 88, 88);
}

.mainIconImg {
  width: 40%;
}

@media (max-width: 1400px) {
  .mainIconImgText {
    font-size: 1.4rem;
  }
  .mainIconImg {
    width: 50%;
  }
}

@media (max-width: 1154px) {
  .mainIconImgText {
    font-size: 1.2rem;
  }
  .mainIconImg {
    width: 60%;
  }
}

@media (max-width: 620px) {
  .mainIconImgText {
    font-size: 1.2rem;
  }
  .mainIconImg {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .mainIconImgText {
    font-size: 1.2rem;
  }
  .mainIconImg {
    width: 100%;
  }
}
