.navBar {
  background-color: #f56084;
}
.navText {
  font-size: 1.2rem;
  color: white;
}

.logo {
  height: 55px;
  margin: 0 auto;
  display: block;
}

.spaceDiv {
  width: 385px;
}

@media (max-width: 1400px) {
  .spaceDiv {
    width: 270px;
  }
}
@media (max-width: 1300px) {
  .spaceDiv {
    width: 260px;
  }
}
@media (max-width: 1154px) {
  .logo {
    max-height: 35px;
    margin: 0 auto;
    display: block;
  }
  .spaceDiv {
    width: 250px;
  }
  .navText {
    font-size: 1rem !important;
    color: white !important;
  }
}
