.navBar {
  background-color: #f56084;
}
.navText {
  color: white;
}

.logo {
  height: 55px;
  margin: 0 auto;
  display: block;
}

.spaceDiv {
  width: 335px;
}

@media (max-width: 1400px) {
  .spaceDiv {
    width: 150px;
  }
}
@media (max-width: 1154px) {
  .logo {
    max-height: 45px;
    margin: 0 auto;
    display: block;
  }
  .spaceDiv {
    width: 0px;
  }
}
