.dateHr {
    height: 2px;
    background-color: #000; /* 그림자를 주기 위한 배경색 */
    border: none;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4); /* 그림자 스타일 설정 */
}
.carouselItemDiv{
    padding:5%;
}
.carouselItem {
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 20px;
    padding:2%;
}
.carouselItemDivImg{
    display: flex;
    justify-content:left;
    align-items: center;
    background-color: lightgray;
    width:90%;
    padding:2%;
    border-radius: 20px;
}
.starScore{
    align-items: center;
    margin-top: 3%;
    background-color: lightpink;
    font-size: 1.4rem;
    width:100%;
    border-radius: 20px;
    height:8vh;
}
.carouselContent{
    justify-content:center;
    width: 50%;
    height:100%;
}
.carouselDogName{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightpink;
    height: 15%;
    border-radius: 20px;
    margin-bottom: 10%;
    font-size: 1.3em;
}
.carouselDogContent{
    padding:5%;
    background-color: lightpink;
    height: 81%;
    border-radius: 20px;
    margin-bottom: 0;
    font-size: 1.3em;
}

/* 필터 */
.filterList{
    display: flex;
}
.filters{
    justify-content: column;
    width:30%;
    height:30%;
}
.filterDiv{
    background-color: rgb(249, 214, 220);
    padding:7%;
    border-radius: 20px;
    opacity: 0.7;
}
.filterDiv:hover{
    opacity: 1;
}
.filterTitle{
    color: white;
    font-size: 1.4em;
    text-align: center;
    font-weight: bold; 
}
.filterContent{
    color: white;
    margin-top: 10px;
    font-size: 1em;
}
.dogMBTI{
    border:20px solid rgb(249, 214, 220);
    border-radius: 20px;
    opacity: 0.6;
}
.dogMBTI:hover{
    cursor: pointer;
    opacity: 0.9;
}
.MBTIDiv{
    border-radius: 20px; /* 내부 div에 둥근 테두리를 적용 */
    overflow: hidden; /* 내부 div에서 테두리 넘치지 않도록 설정 */
}
.matchingWriteBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.7em;
    font-weight: bold;
    height:10vh;
    background-color: #F56084;
    border-radius: 20px;
    opacity: 0.6;
}
.matchingWriteBtn:hover{
    opacity: 0.9;
    cursor: pointer;
}
.matchingNullDiv{
    width: 3vw;
}
.filterDateList{
    width: 65%;
    margin-left: 5%;
    border-radius: 20px;
    background-color: rgb(249, 214, 220);
    padding:2%;
}
.filterDateListDiv{
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 3%;
}
.filterDate{
    display: flex;
    justify-content: center;
    background-color:rgb(249, 214, 220);
    border-radius: 20px;
    padding:3%;
    opacity: 0.7;
}
.filterDate > .scrollContainer::-webkit-scrollbar{
    display: none;
}

.filterDate:hover{
    cursor: pointer;
    opacity: 1;
}
.filterDateImg{
    width: 60%;
    padding: 3%;
    justify-Content:center;
    background-color: white;
    border-radius: 20px;
    margin-right: 5%;
}
.filterDateContent{
    padding:3%;  
    width: 40%;
    background-color: white;
    border-radius: 20px;
}

.listStarScore{
    margin-top:5%;
    text-align: center;
    background-color: lightgray;
    border-radius: 10px;
    width: 95%;
}
.filterDateContentDogname{
    font-weight: bold;
    background-color: lightgray;
    border-radius: 5px;
    font-size: 0.8em;
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filterDateContentDogTitle{
    font-weight: bold;
    background-color: lightgray;
    border-radius: 5px;
    font-size: 0.8em;
    flex: 50%;
    margin-top: 10%;
    padding :5px;
}
.filterDateContentSiteScore{
    background-color: #E85B6C;
    color:white;
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.8em;
    flex: 20%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
