.productDisplay {
    flex-grow: 1;
    width: 75%;
    height: 100%;
    padding: 0 0 0 20px;
}

@media (max-width: 1400px) {
    .productDisplay {
        padding: 0 0 0 20px;
    }
}
@media (max-width: 1200px) {
    .productDisplay {
        padding: 0 0 0 17px;
    }
}
@media (max-width: 880px) {
    .productDisplay {
        padding: 0 0 0 13px;
    }
}
@media (max-width: 600px) {
    .productDisplay {
        padding: 0 0 0 7px;
    }
}