.hovered  {
    transition: all 0.3s ease; /* 모든 속성에 대한 변화를 0.3초 동안 부드럽게 적용 */
    transform: scale(1.1); /* 10% 정도 확대 */
}

.hoveredImg {
    transition: all 0.3s ease;
    filter: brightness(0.8); /* 약간 어두워짐 (80% 밝기) */
    border-width: 3px; /* 테두리 두께를 3px로 설정 */
    border-color: pink; /* 테두리 색상을 pink로 설정 */
    box-shadow: 0 4px 8px rgba(0, 0, 1, 0.5); /* 그림자 효과 추가 */
}