/* .list {
    width: 344px;
    height: 331px;
    flex: 1;
    position: relative;
    background: white;
    border-radius: 3px;
    overflow: hidden;
    padding: 0;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 13px;
}

.text {
    top: 48px;
    position: absolute;
    color: white;
    font-size: 13px;
    font-family: 'Ribeye';
    font-weight: 400;
    word-wrap: break-word;
} */

.box {
    transition: box-shadow 0.3s ease-in-out; /* 그림자 변경에 애니메이션을 추가할 수 있습니다. */
  }

  .box:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* 그림자 스타일 및 크기 조절 */
    background-color: #ff77bd;  
}

  .boxBtn {
    transition: box-shadow 0.3s ease-in-out; 
    background-color: #FCABD5;
  }

  .boxBtn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    background-color: #ff77bd;
  }

