.moimMainTitle {
    text-align: center;
    color: rgb(239, 136, 136);
    font-size: 30px;
    font-family: Ribeye;
    font-weight: bold;
}

.moimHighlight {
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.moimHighlightImgDivImg {
    width: 90%;
    object-fit: cover;
    border-radius: 5%;
    border: 1px solid pink;
}

.highlightShortDetail {
    position: absolute;
    font-weight: 400;
    color: white;
    padding: 10px;
    width: 80%;
    text-align: center;
    overflow-wrap: break-word;
    top: 70%;
    transform: translateY(-60%);

    word-wrap: break-word;
    flex-direction: column;
}

/* 
background-color: rgba(0, 0, 0, 0.5);

top: 48px;
font-size: 13px;
font-family: Ribeye;
 
 align-items: center;*/