.checkboxDiv {
    width: 100%;
    height: 100px;
}

@media (max-width: 1400px) {
    .categoeySortBar {
        border-radius: 12px;
    }
    .titleDiv {
        font-size: 0.9em;
        padding: 10px 20px 0 20px;
        height: 40px;
    }
    .categoryCheckboxBar {
        padding: 10px 20px 0 20px;
        font-size: 0.9em;
     }
}
@media (max-width: 1200px) {
    .categoeySortBar {
        border-radius: 10px;
    }
    .titleDiv {
        font-size: 0.7em;
        padding: 10px 17px 0 17px;
        height: 32px;
    }
    .categoryCheckboxBar {
        padding: 10px 17px 0 17px;
        font-size: 0.7em;
    }
}
@media (max-width: 880px) {
    .categoeySortBar {
        border-radius: 8px;
    }
    .titleDiv {
        font-size: 0.5em;
        padding: 7px 13px 0 13px;
        height: 27px;
    }
    .categoryCheckboxBar {
        padding: 7px 13px 0 13px;
        font-size: 0.5em;
    }
}
@media (max-width: 600px) {
    .categoeySortBar {
        border-radius: 6px;
    }
    .titleDiv {
        font-size: 0.4em;
        padding: 5px 10px 0 10px;
        height: 23px;
    }
    .categoryCheckboxBar {
        padding: 5px 10px 0 10px;
        font-size: 0.4em;
    }
}