.SearchBar {
    border: 1px solid #F789A2;
    border-radius: 12px;
    display: flex;
    width: 100%;
    height: 40px;
    max-height: 50px;
    margin: 10px 0;
    min-width: 300px;
    min-height: 24px;
}
.searchOption {
    border-right: 1px solid #F789A2;
    width: 150px;
    height: 100%;
    padding: 6px;
    text-align: center;
}
.searchValue {
    display: flex;
    flex-grow: 1
}
.valueDiv {
    display: flex;
    flex-grow: 1
}
.valueDiv input{
    width: 100%;
    height: 100%;
}
.imgDiv {
    width: 50px;
    height: 100%;
}
.imgDiv img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin-right: 0.1%;
}
.imgDiv img:hover {
    cursor: pointer;
}


@media (max-width: 1400px) {
    .SearchBar {
        border-radius: 10px;
        height: 35px;
        margin: 7px 0;
    }
    .searchOption {
        width: 130px;
        padding: 6px;
        font-size: 0.9em;
    }
    .imgDiv {
        width: 45px;
    }
}
@media (max-width: 1200px) {
    .SearchBar {
        border-radius: 9px;
        height: 32px;
        margin: 6px 0;
    }
    .searchOption {
        width: 110px;
        padding: 5px;
        font-size: 0.8em;
    }
    .imgDiv {
        width: 43px;
    }
}
@media (max-width: 880px) {
    .SearchBar {
        border-radius: 7px;
        height: 27px;
        margin: 4px 0;
    }
    .searchOption {
        width: 90px;
        padding: 4px;
        font-size: 0.6em;
    }
    .imgDiv {
        width: 35px;
    }
}
@media (max-width: 600px) {
    .SearchBar {
        border-radius: 5px;
        height: 24px;
        margin: 2px 0;
    }
    .searchOption {
        width: 70px;
        padding: 3px;
        font-size: 0.5em;
    }
    .imgDiv {
        width: 30px;
    }
}