.productCardDiv {
    width: 24%;
    margin: 0.5%;
}

@media (max-width: 1400px) {
    .productCardListDiv {
        padding-top: 13px;
    }
}
@media (max-width: 1200px) {
    .productCardListDiv {
        padding-top: 10px;
    }
}
@media (max-width: 880px) {
    .productCardListDiv {
        padding-top: 8px;
    }
}
@media (max-width: 600px) {
    .productCardListDiv {
        padding-top: 5px;
    }
}