@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 100%;
  vertical-align: baseline;
}

.px-10 {
  padding-left: 50px;
  padding-right: 50px;
}

.mt-6 {
  margin-top: 4rem;
}
.mt-7 {
  margin-top: 5rem;
}
.mt-8 {
  margin-top: 6rem;
}
.mt-9 {
  margin-top: 7rem;
}
.mt-10 {
  margin-top: 8rem;
}

@media (max-width: 1400px) {
  .px-10 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
  }
}

@media (max-width: 1154px) {
  .px-10 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}

@media (max-width: 620px) {
  .px-10 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

@media (max-width: 400px) {
  .px-10 {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
