.loadingDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    z-index: 999;
    display: grid;
    place-items: center;
}
.loadingDiv img {
    width: 200px;
    opacity: 0.1;
}
