.Nav {
    color: grey;
}
.hr1 {
    height:2px;
    background: grey;
    margin: 20px 0 0 0;
    border: 0;
}
.hr2 {
    height:2px;
    background: grey;
    margin: 0;
    border: 0;
}
.Navwrapper{
    display: flex;
    justify-content:center;
}
.Menu1 {
    text-decoration: none;
    color: grey;
    font-size: 16px;
}
.Menu1:hover, .Menu1:active{
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.1);
    color: black;
}
.Link {
    text-decoration: none;
    color: grey;
    font-size: 14px;
}
.Link:hover ,.Link:active{
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.1);
    color: black;
}
.LiHidden{
    display: block;
    height:0;
    width:0;
    overflow:hidden;
}
.LiVisible{
    display: visible;
    height:100%;    
    width:100%;
    overflow:visible;
}
.RoundedCircle{
    width: 150px;
    height: 150px;
    justify-content: center s;
}
.Text {
    border-bottom: 3px solid #f56084;;
    width: 500px;
}
.MyprofileUpdate_Text{
    margin-bottom: 1rem;
}
.Space{
    margin-left: 2rem;
}

.Space2{
    margin-left: 50%;
}
.Space3{
    margin-bottom: 3px;
}

.Email{
    width: 30px;
}
.Btn{
    width: 100%;
    height: 50px;
    background-color: #f56084;;
    border: 0;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border-radius: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.Btn2{
    height: 2rem;
    background-color: #f56084;;
    border: 0;
    color: black;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 10rem;
    margin-top: 15px;
}
.Btn3{
    width: 30rem;
    height: 7rem;
    background-color: #f56084;
    border: 0;
    color: black;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.Btn4{
    height: 3rem;
    width: 20rem;
    background-color: #f6f6f9;
    color: #868688;
    border: 0;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 10rem;
    margin-top: 15px;
}
.Btn4{
    width: 24rem;
    height: 4rem;
    background-color: #f56084;
    border: 0;
    color: black;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 100px;
    margin-bottom: 20px;
}
.Imagecenter{
    display: flex;
    justify-content: center;
}

.colorFixx{
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.1);
    color: black;
}
.PetInfoLetter{
    font-size: 3rem;
    font-weight: bold;
}
.PageUpdateLetter{
    font-size: 3rem;
    font-weight: 600;
}
.bgcoltest1{
    background-color: #f35433;
    width: 100%;
}

.bgcoltest2{
    background-color: blueviolet;
    width: 100%;
}

.bgcoltest3{
    background-color: blanchedalmond;
    width: 100%;
}
.bgcoltest4{
    background-color: #2e1e5f;
    width: 100%;
}
.bgcoltest5{
    background-color: #1e5c5f;
    width: 100%;
}
.MyprofileUpdate_button{
    border-radius: 20px;
    background-color: #f56084;
}
.TextArea{
    width: 100%;
    resize: none;
    padding: 10px;
    border: 1px solid #e4e4e6;
    border-radius: 5px;
    font-size: 13px;
    word-spacing: -4px;
}
.picSize{
    width: 40px;
    height: 40px;
}
.UploadFileLabel{
    padding: 1px 1px;
    background-color:#E7E7E9;
    border-radius: 10px;
    color: #A5A5A7;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}

.MydogProfileRegisterText{
    width: 360px;
    white-space: nowrap;
    border-radius: 6px;
    border: 1px solid #e4e4e6;
    background-color: #fff;
    font-size: 13px;
    padding: 3px 3px;
}
.MydogProfileRegisterText2{
    width: 99%;
    white-space: nowrap;
    border-radius: 6px;
    border: 0;
    background-color: #fff;
    color: #868688;
    font-size: 13px;
    padding: 3px 3px;
}
.MydogProfileRegisterText3{
    width: 360px;
    white-space: nowrap;
    border-radius: 6px;
    border: 0;
    background-color: #fff;
    font-size: 13px;
    padding-top: 3px;
}
.MydogProfileRegisterText4{
    width: 360px;
    white-space: nowrap;
    border-radius: 6px;
    border: 0;
    font-size: 13px;
    padding-left: 4px;
    color: #868688;
}
.MydogProfileRegisterText5{
    width: 99%;
    white-space: nowrap;
    border-radius: 6px;
    border: 0;
    background-color: #fff;
    color: #868688;
    font-size: 13px;
    padding: 3px 3px;
}
.MydogProfileRegisterTextInner{
    
    width: 360px;
    white-space: nowrap;
    border: 0;
    background-color: #fff;
    font-size: 13px;
    line-height: 20px;
    color: #868688;
    
}
.MydogProfileRegisterTextCheck{
    font-size: 13px;
    color: #f24147;
}