@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(4px); /* 초기 위치와 최종 위치 (위치 변경 없음) */
  }
  50% {
    transform: translateY(-4px); /* 중간에 위로 10px 올라간 위치 */
  }
}

.descriptionContainer {
  width: 94%;
}

#productDetail {
  width: 74vw;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
  resize: vertical;
}

.submitBtnDesign {
  margin-top: 20px;
  padding: 10px 20px;
  width: 145px;
  height: 50px;
  max-height: 70px;
  border-radius: 25px;
  font-size: 0.9rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: #f56084;
  border: 2px solid #f56084;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 80px;
  transition: 0.16s ease-in-out;
}
.popupClickProductUpload {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 0.7rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: #3a3a3a;
  color: white;

  cursor: pointer;
  position: fixed;
  right: 35px;
  bottom: 160px;
  opacity: 0.7;

  animation: moveUpDown 2s ease-in-out infinite;
  transition: all 0.2s ease-in-out;
}

.popupClickProductUpload:hover {
  opacity: 1;
}

.alertImg {
  position: absolute;
  top: -12px;
  fill: red;
  width: 20px;
  height: 20px;
}

.submitBtnDesign:hover {
  background-color: #f56084;
  color: white;
}
