.xBox {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 4px solid rgb(77, 77, 77);
  border-radius: 50%;
  font-weight: 700;
  font-size: 15px;
  color: red;
  z-index: 22;

  cursor: pointer;
}
