.navText {
  font-size: 1rem;
  color: white;
}

.customDropdownMobile .customDropdownToggleMobile {
  display: none;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border: none;
  transform: translateX(-4px);
}

.customDropdownMobile .customDropdownMenuMobile {
  background-color: transparent;
  border: none;
  color: white;
}

.customDropdownMobile .customDropdownItemMobile {
  color: white;
  background-color: transparent;
}

@media (max-width: 880px) {
  #categoryDropdown {
    display: none;
  }
  .customDropdownMobile .customDropdownToggleMobile {
    display: flex;
    width: auto;
  }
}
