@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@700&display=swap");

@media (max-width: 620px) {
  .rankingBtn {
    height: 40px;
    font-size: 0.8rem;
  }

  .bestFlirdogPinkLikeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30px;
    border-radius: 7px;

    background-color: #e85b6c;
  }
  .likeBoneImg {
    border-radius: 8px;
    height: 80%;
  }
  .likeBoneText {
    font-family: "Black Han Sans";
    font-size: 1.3rem;
    height: 100%;
    color: white;
  }
  .mainIconImgText {
    font-size: 1.2rem;
  }
  .mainIconImg {
    width: 100%;
  }
}
@media (max-width: 400px) {
  .bestFlirdogImgRound--Hover__text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border-radius: 50%;
    color: white;
    font-size: 1.2rem;
    opacity: 0;

    transition: all 0.15s ease-in-out;
  }

  .rankingBtn {
    height: 30px;
    font-size: 0.6rem;
  }

  .mainIconImgText {
    font-size: 1.2rem;
  }
  .mainIconImg {
    width: 100%;
  }
}
